/*blue: 438fe4;
red: e66b46;
pink: ffcab1;
lighter: 69a2b0;
green: 659157;*/


.navzone {
    position: absolute;
    display: inline;
    top: 0%;
    left: 0%;
    background: rgba(43, 143, 228, 50);
    width: 100vw;
    padding: .5em;
}

ul {
    display: inline;
}

.navzone ul li{
    display: inline;
    vertical-align: middle;
    padding: .5em;
    background: #68a2b0;
}

li a {
    text-decoration: none;
    /*background: #68a2b0;*/
}

.navzone h3 {
    display: inline;
    margin-left: 1em;
    position: relative;
    top: 10%;
}

.content, .extreme{
    margin-top: 3em;
}

body {
    background: no-repeat url("https://static.pexels.com/photos/31423/pexels-photo-31423.jpg");
    background-size: 100vw 100vh;
    /*margin: -1px;*/
}