body {
    background: #ABCDEF;
    padding: 0% 20% 0% 20%;
}

h1 {
    display: block;
    font-size: 4em;
    text-align: center;
}

ul > li {
    border: solid 1px;
    border-color: #BCDEFF;
    padding: .5em;
    display: inline;
    background: #9ABCDE;
}

ul > li:hover {
    background: #89ABCD;
}

ul {

    text-align: center;
    padding: 1em;
    display: block;
    list-style: none;
}

p {
    padding: 3em;
}

a {
    text-decoration: none;
}

h3 {
    text-align: center;
}